<?xml version="1.0"?>
<robot name="openmower_webots">
  <webots>
    <device reference="gps" type="GPS">
      <ros>
        <enabled>true</enabled>
        <alwaysOn>true</alwaysOn>
        <updateRate>5</updateRate>
        <topicName>/gps/fix</topicName>
        <frameName>gps</frameName>
      </ros>
    </device>

    <plugin type="webots_ros2_driver::Ros2IMU">
      <enabled>true</enabled>
      <alwaysOn>true</alwaysOn>
      <updateRate>50</updateRate>
      <topicName>/imu/data_raw</topicName>
      <frameName>imu</frameName>
      <inertialUnitName>inertial_unit</inertialUnitName>
      <gyroName>gyro</gyroName>
      <accelerometerName>accelerometer</accelerometerName>
    </plugin>

    <plugin type="webots_ros2_control::Ros2Control" />
  </webots>

  <ros2_control name="WebotsControl" type="system">
    <hardware>
      <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
    </hardware>
    <joint name="left_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="right_wheel_joint">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="mower_joint">
      <command_interface name="effort" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
  </ros2_control>
</robot>
